
.list
    margin 0 auto
    max-width 500px

    &__item
        display flex
        align-items center
        border 1px solid purple
        height 40px
        &_form
            border 1px solid green
        &+&
            border-top 0

    &__check
        width 40px

    &__checkbox
        display block
        margin auto

    &__input
        height 40px
        width 100%
        padding 10px

    &__btn
        height 40px
        width 100px
        cursor pointer
