@import "../../styles/app"
.counter
    display flex
    justify-content center
    align-items center
    color $base-color
    &__btn
        width 3.3em
        height 3.3em
        padding .93em
        text-align center
        font-size .88em
        line-height 0
        &:hover, &:focus, &_active
            background-color $color-red
    &__number
        padding 0 .41em
        border 0
        width 1.5em
        outline none
        user-select none
        background-color transparent
        font-size 2.5em
        text-align center
        color inherit
