html,
body{
	margin: 0;
	padding: 0;
}

body{
	font: 14px 'ProximaNovaLight' Helvetica, sans-serif;
	margin-bottom: 45px;
}

.header{
	height: 170px;
	color: #fff;
	background: url(../../src/img/hotel-sheraton.jpg) no-repeat 50% 100%;
}

.container{
	width: 320px;
	margin: 0 auto;
}

.container_header{
	height: 50px;
	width: 320px;
	background: #35363c;
}

.header__block-left{
	height: 50px;
	width: 50px;
	background: #4b4c51;
	display: inline-block;
	
}

.header__city{
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0 0 5px 14px;
	
}

.header__logo{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 8px 96px;
}

.link-back{
	display: inline-block;
	margin: 15px 0 0 15px;
}

.header-date{
	text-align: center;
	font-size: 12px;
	padding: 9px 16px 6px 0;
}

.header__site-description{
	text-align: center;
	letter-spacing: 0.04em;
	font: 15px 'ProximaNovaBold', Helvetica sans-serif;
}

.icons{
	position: relative;
	left: 7px;
	display: inline-block;
}

.header__location{
	text-align: center;
	font-size: 12px;
	margin-top: 4px;
}

.hotel_review{
	text-align: center;
	font-size: 12px;
	margin: 5px 0 0 7px;
}

.room{
	height: 158px;
	width: 280px;
	background: #1e1f26;
	margin: 17px 0 0 19px;
	font-size: 12px;
	color: #fff;
}

.room-type{
	display: inline-block;
	margin: 13px 0 0 16px;
	color: #7d7e80;
	font: 16px 'ProximaNovaBold';
}

.cost{
	display: inline-block;
	margin: 0 0 0 56px;
	font: 16px 'ProximaNovaBold';
}

.room-list{
	margin: 14px 0;
	font-size: 12px;
	line-height: 17px;
	padding: 0 32px;
}

.change-date{
	text-align: center;
	font-size: 12px;
	margin: 80px 30px 0 10px;
}

.btn{
	height: 33px;
	border-radius: 16px;
	text-transform: uppercase;
	margin: 18px 0 0 91px;
	color: #fff;
	background: #8e8f92;
	border: 1px;
	outline: none;
	padding: 0 38px 0 35px;
	font-size: 11px;
}

.btn:hover{
	background: #ac0027;
}

.information-room{
	margin: 37px 0 0 20px;
	font: 16px 'ProximaNovaBold';
}

.information-list{
	margin: 7px 0 0 -4px;
}

.services-room{
	margin: 45px 0 0 19px;
}

.services-list{
	margin: 6px 0 0 -11px;
}

.additional-link{
	display: inline-block;
	margin: 24px 0 0 22px;
	text-decoration: none;
}

.additional-link:hover{
	color: red;
	text-decoration: underline;
}

.location__disposition{
	margin: 12px 0 0 20px;
}

.location__city{
	margin: 5px 0 0 18px;
}

.location__address{
	margin: 3px 0 0 19px;
}

.btn_reservation{
	height: 48px;
	width: 218px;
	text-transform: uppercase;
	background: #db0536;
	border-radius: 28px;
	margin: 15px 0 0 55px;
	padding: 0 61px 0 64px;
}

.rating {
  display: inline-block;
  margin-left: 122px;
  padding-top: 13px; 
}

input { 
  display: none; }

.rating__img {
  float: right;
  font-size: 16px;
  padding: 0 1px 0 1px;
  color: #444;
  transition: all .2s;
}

.rating__input:checked ~ .rating__img:before {
  content: '\2605';
  color: #FD4;
  transition: all .25s;
}

.rating__input_star-5:checked ~ .rating__img:before {
  color: #FE7;
}

.rating__input_star-1:checked ~ .rating__img:before {
 color: #F62; }

.rating__img:before {
  content: '\2605';
}

iframe{
	margin: 15px 0 0 20px;
}