// Главный файл стилей для всего проекта
@import "../../styles/app"
*
    box-sizing border-box
html, body
    min-height 100%
body
    margin 0
    padding 0
    background-image url('images/layer-4.jpg')
    background-repeat no-repeat
    background-size cover
    font-size $base-size
    font-family Arial
.container
    max-width 30em
    margin 0 auto
.search-page
    padding 0 $content-x $content-y $content-x
    text-align center
    color $base-color
    &__btn
        width 13.5em
        padding-left 0
        padding-right 0
        margin 3em 1em 0 1em
    &__subhead
        padding-top 2.075em
        padding-bottom 1.025em
    &__footer
        padding-top 2em
    &__header
        display flex
        justify-content center
        flex-wrap wrap
