$header-height = 3.125em
$header-color = #fff
$header-bg = rgba(255, 255, 255, .05)
$header-prev-bg = rgba(255, 255, 255, 0.1)
$header-prev-bg-hover = rgba(255, 255, 255, 0.2)
.header-nav
    display flex
    justify-content space-between
    align-items center
    width 100%
    margin 0 auto
    height $header-height
    background-color $header-bg
    color $header-color
    &__prev
        width $header-height
        height $header-height
        line-height $header-height+1
        text-align center
        cursor pointer
        background-color $header-prev-bg
        &:hover, &:focus
            background-color $header-prev-bg-hover
    &__logo
        display block
        width 35px
        margin-right .93em
        height 100%
        text-decoration none
        color inherit
    &__head
        display block
        padding-left .93em
    &__prev-icon
        height 25px
