include ../sprite/sprite.pug
header.header
    nav.header-nav
        .header-nav__prev
            +icon('arrow').header-nav__prev-icon
        .header-nav__head
            | Москва, Россия
        a.header-nav__logo(href="/")
            +icon('logo').header-nav__logo-icon
